{% load static %}

<h3>Корзина</h3>
<ul class="cart-items">
    <li class="cart-item">
        <p>Название товара 1</p>
        <p>Цена: 1000 ₽
        <a href="{% url 'cart:cart_remove' 1 %}">
            <button class="btn">Удалить</button>
        </a>

    </li>
    <li class="cart-item">
        <p>Название товара 2</p>
        <p>Цена: 1500 ₽</p>
        <a href="{% url 'cart:cart_remove' 1 %}">
            <button class="btn">Удалить</button>
        </a><button class="btn">Удалить</button>
    </li>
    <li class="cart-item">
        <p>Название товара 3</p>
        <p>Цена: 2000 ₽</p>
        <a href="{% url 'cart:cart_remove' 1 %}">
            <button class="btn">Удалить</button>
        </a><button class="btn">Удалить</button>
    </li>
    <hr>
    <li class="cart-item">
        <p>Total</p>
        <p>3000 ₽</p>
    </li>
</ul>
<button class="btn">Confirm</button>