/* styles.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: "Revalia", "Roboto";
}

/* .home {
    position: relative;
    height: 900px;
} */

.main-image-block {

    /* background: linear-gradient(  rgba(50, 98, 150, 0.358), rgba(50, 98, 150, 0.358) ), url('img/main.jfif'); */
    /* background-image: url("{% static 'img/main.jfif' %}"); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    height: 700px;

    position: relative;
}


h1 {
    font-family: Revalia;
    font-size: 36px;
    font-weight: 400;
}

a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

}

.logo p {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 29.3px;
    /* text-align: left; */
    margin-left: 35px;

}

h2 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    margin-bottom: 15px;
}

h4 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

h5 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    margin-right: 50px;
    margin-left: auto;
}

.search-btn {
    border: none;
    background: none;

}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

li {
    list-style-type: none;
}

.page-title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.title-block p {
    color: white;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 40px;

}

.btn {
    width: 100px;
    height: 40px;
    background-color: #373737;
    color: white;
    border-radius: 5px;
    border: none;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;

    cursor:pointer;

}

.registration-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    margin-right: auto;
    margin-left: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form .form-group {
    margin-bottom: 15px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.register-btn {
    width: 100%;
    height: 40px;
    background-color: #373737;
    color: white;
    border-radius: 5px;
    border: none;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    cursor:pointer;
}

.register-btn:hover {
    background-color: #0056b3;
}

.register-links a {
    font-size: 16px;
    text-decoration: underline;
}

.register-links {
    display: flex;
    justify-content: flex-start;
}


footer {
    margin-top: 100px;
    background-color: #373737;
    height: auto;
    color: white;
    padding: 90px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    width: 90%;
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contacts-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

footer p {
    font-size: 16px;
    font-weight: 400;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer a {
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;

}

.download {
    width: 170px;
    height: 40px;
    border-radius: 5px;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}
