{% load static %}

<h3>Корзина</h3>
<ul class="cart-items">
    <li class="cart-item">
        <p>Деревянный столик</p>
        <div style="display:flex; flex-direction:row;">
            <p style="margin-right:10px;">Цена: 1500 ₽</p>
            <a href="{% url 'cart:cart_remove' 1 %}">
                <button class="btn">Удалить</button>
            </a>
        </div>
    </li>
    <li class="cart-item">
        <p>Кровать большая двухместная</p>
        <div style="display:flex; flex-direction:row;">
            <p style="margin-right:10px;">Цена: 1500 ₽</p>
            <a href="{% url 'cart:cart_remove' 1 %}">
                <button class="btn">Удалить</button>
            </a>
        </div>
    </li>
    <li class="cart-item">
        <p>Название товара 3</p>
        <div style="display:flex; flex-direction:row;">
            <p style="margin-right:10px;">Цена: 1500 ₽</p>
            <a href="{% url 'cart:cart_remove' 1 %}">
                <button class="btn">Удалить</button>
            </a>
        </div>
    </li>
    <hr>
    <li class="cart-item">
        <p>Total</p>
        <div style="display:flex; flex-direction:row;">
            <p style="margin-right:10px;">Цена: 1500 ₽</p>
            <a href="{% url 'cart:cart_remove' 1 %}">
                <button class="btn">Confirm</button>
            </a>
        </div>
    </li>
</ul>
