{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<h3>Cart</h3>
<ul class="cart-items" style="display:flex; flex-direction:column; gap:0;" >
    {% for cart in carts %}
    <li class="cart-item" style="align-items: center;">
        <p style="height:30px;">{{ cart.product.name }}</p>
        <div style="display:flex; flex-direction:row; align-items:center;" class="input-group">
            <span>
                <button style="width:20px; height:20px; margin:5px;" class="decrement"
                        type="button" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">
                    {% csrf_token %}
                    -</button>
            </span>
            <input style="width:30px; height:20px; margin:0px; text-align: center;"
                   class="number" type="text" value="{{ cart.quantity }}" readonly>
            <span>
                <button style="width:20px; height:20px; margin:5px;" class="increment"
                        type="button" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">
                    {% csrf_token %}
                    +</button>
            </span>
            <p style="margin-right:10px;">* {{ cart.product.price }} $</p>
            <div><strong> {{ cart.products_price }} </strong></div>
            <a href="{% url 'cart:cart_remove' %}" class = 'remove-from-cart' data-cart-id="{{ cart.id }}">
                {% csrf_token %}
                <button class="btn">Delete</button>
            </a>
        </div>
    </li>
    {% endfor %}
    <hr>
    <li class="cart-item" style="align-items: center;">
        <p style="height:30px;">Total</p>
        <div style="display:flex; flex-direction:row; align-items:center;">
            <p style="margin-right:10px;">{{ carts.total_price }} $</p>
            {% if carts and not order %}
            <a href="{% url 'orders:create_order' %}">
                <button class="btn">Order</button>
            </a>
            {% endif %}
        </div>
    </li>
</ul>
