{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}

{% block static_css %} <link rel="stylesheet" href="{% static 'css/catalog.css' %}" /> {% endblock %}

{% block page_title %}
    <div class ="page-title">
        <h1>{{ page_title }}</h1>
        <h6>{{ page_description }}</h6>
    </div>
{% endblock %}

{% block content %}
<section class="furniture">

    <div class="furniture-header">
        <form>
            <input type="text" placeholder="Search a furniture">
            <button type="submit">
                <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.6667 22.3334C17.5578 22.3334 22.3334 17.5578 22.3334 11.6667C22.3334 5.77565 17.5578 1 11.6667 1C5.77565 1 1 5.77565 1 11.6667C1 17.5578 5.77565 22.3334 11.6667 22.3334Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.0002 25L19.2002 19.2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </form>

        <div class="furniture-links">
            <ul>
                {% tag_categories as categories %}
                {% for category in categories %}
                    <li><a href="{% url 'catalog:index' category.slug%}">{{ category.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <section class="catalog">

        {% for product in goods %}

            <a href="{% url 'catalog:product' product.slug %}">
            <div class="product-card">
                <div class="image-container">

                    {% if product.discount %}
                        <div class="discount-block">
                            <p>-{{ product.discount }}%</p>
                        </div>
                    {% endif %}

                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'img/no-product.png' %}" alt="Not found image">
                    {% endif %}
                </div>

                <div class="product-info">
                    <div class="description">
                        <h6 class="truncate">{{ product.name }}</h6>
                        <div class="price">
                            <h6>${{ product.sell_price }}</h6>
                            {% if product.discount %}
                                <p><strike>${{ product.price }}</strike></p>
                            {% endif %}
                        </div>
                    </div>

                    <p class="truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <button class="btn">Order Now</button>
                </div>
            </div>
        </a>

        {% endfor %}

    </section>

    <div class="pagination">
        <div {% if not goods.has_previous %} class="disabled" {% endif %}>
            <a href="{% if goods.has_previous %}
            {% url 'catalog:index' slug_url goods.previous_page_number %}
            {% else %} #
            {% endif %}">Previous</a>
        </div>


        {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
            <a href="{% url 'catalog:index' slug_url page %}"
               {% if goods.number == page %} class = "page active"
               {% else %} class="page"
               {% endif %}>{{ page }}</a>
            {% endif %}
        {% endfor %}

<!--        <a href="#" class="page active">1</a>-->

        <div {% if not goods.has_next %} class="disabled" {% endif %}>
            <a href="{% if goods.has_next %}
            {% url 'catalog:index' slug_url goods.next_page_number %}
            {% else %} #
            {% endif %}">Next</a>
        </div>
    </div>


</section>

{% endblock %}