{% extends "main/base.html" %}
{% load static %}


{% block page_title %}
    <div class ="page-title">
        <h1>{{ page_title }}</h1>
        <h6>{{ page_description }}</h6>
    </div>
{% endblock %}

{% block content %}
<section class="furniture">

    <div class="furniture-header">
        <form>
            <input type="text" placeholder="Search a furniture">
            <button type="submit">
                <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.6667 22.3334C17.5578 22.3334 22.3334 17.5578 22.3334 11.6667C22.3334 5.77565 17.5578 1 11.6667 1C5.77565 1 1 5.77565 1 11.6667C1 17.5578 5.77565 22.3334 11.6667 22.3334Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.0002 25L19.2002 19.2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </form>

        <div class="furniture-links">
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Chair</a></li>
                <li><a href="#">Table</a></li>
                <li><a href="#">Bed</a></li>
                <li><a href="#">Sofa</a></li>
                <li><a href="#">Wardrobe</a></li>
                <li><a href="#">Armchair</a></li>
                <li><a href="#">Shelves</a></li>
                <li><a href="#">Poufs</a></li>
                <li><a href="#">TV Stands</a></li>
            </ul>
        </div>
    </div>

    <section class="catalog">

        {% for product in goods %}

            <a href="{% url 'catalog:product' %}">
            <div class="product-card">
                <div class="image-container">
                    <img src="{% static product.image %}" alt="Furniture">
                </div>

                <div class="product-info">
                    <div class="description">
                        <h6>{{ product.title }}</h6>
                        <h6>{{ product.price }}</h6>
                    </div>

                    <p>{{ product.description }}</p>
                    <button class="btn">Order Now</button>
                </div>
            </div>
        </a>

        {% endfor %}

    </section>

    <div class="view-btn">
        <button class="btn">View All</button>
    </div>


</section>

{% endblock %}